.logo-container{
  position: fixed;
  width: 100vw;
  background: #fff;
  bottom: 0;

}

#site-logo{
  width: 3vw;
  margin-left: 47vw;
  margin-bottom: 2vh;
}

#header-container{
  background: #fff;
  width: 100vw;
  box-shadow: 2px 2px 2px #E0E0E0;
  position: fixed;

  img{
    width: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  h1{
    padding-top: 3vh;
    color: #4CAF50;
    font-weight: bold;
    font-size: 2vw;
    text-shadow: 2px 2px 2px #BDBDBD;
  }
}

#dashboard{
  text-decoration: underline;
}

.nav-container{
  position: fixed;
  margin-top: 12vh;
  width: 70vw;
  background: #fff;
}

#dashboard-container{
  margin-top: 15vh;
}

.patientInfo-container{
  margin-top: 12vh;
}

.addNewRecord-container{
  margin-top: 12vh;
}

.userManagement{
  margin-top: 12vh;
}
